@font-face {
  font-family: "iran yekan";
  src: url(../../fonts/IRANYekanRegular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "iran yekan";
  src: url(../../fonts/IRANYekanMedium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "iran yekan";
  src: url(../../fonts/IRANYekanBold.ttf);
  font-style: normal;
  font-weight: 700;
}
